<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<carriers>
			<pavelleonidov_deutschepostcarrier>
				<active>0</active>
				<sallowspecific>0</sallowspecific>
				<price>0</price>
				<model>PavelLeonidov\DeutschePostCarrier\Model\Carrier\DeutschePostCarrier</model>
				<name>Shipping Module</name>
				<title>Deutsche Post</title>
				<specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
			</pavelleonidov_deutschepostcarrier>
		</carriers>
	</default>
</config>